@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;1,300&family=Source+Code+Pro:ital,wght@1,300;1,400&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Source Code Pro", monospace;
}
* {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/bg.jpg) no-repeat center;
}
.card-wrapper {
  height: 600px;
  width: 450px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: box-shadow 1s;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/bg.jpg) no-repeat center;
}
.card-wrapper:hover {
  box-shadow: 0 0 30px #fff;
}
.card {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    190deg,
    rgba(21, 199, 30, 0.8) 50%,
    rgba(233, 67, 67, 0.8) 0
  );
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: top 0.3s 1.5s;
}
.card-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 15px;
  border: 3px solid white;
  padding: 10px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.8);
}
.card-header {
  font-size: 2rem;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 300;
  background: linear-gradient(#0a9751, #06831b);
  width: 70%;
  text-align: center;
  padding: 5px 0;
  transform: perspective(1000px) skew(-20deg) rotateY(45deg);
}
.card-info {
  font-size: 18px;
  color: #ddd;
  width: 85%;
  text-align: justify;
  position: relative;
}
.card-info::first-letter {
  margin-left: 40px;
}
.card-info i {
  color: white;
  font-size: 25px;
  font-style: italic;
  position: absolute;
}

.card-info i:first-child {
  top: -10px;
}
.card-paragraph i:last-child {
  bottom: -10%;
  margin-left: 10px;
}
.card-icons {
  list-style: none;
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.card-icon-link {
  text-decoration: none;
  height: 35px;
  width: 35px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.card-icon-link:hover {
  border: 1px solid #1b5cf5;
}

.card-icon {
  font-size: 20px;
  color: #fff;
}
.card-icon-link:hover .card-icon {
  color: #1b5cf5;
}
.card-btn {
  border: none;
  outline: none;
  width: 150px;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 50px;
  background: linear-gradient(#6837ee, #0d2b7e);
  color: #ddd;
  text-transform: uppercase;
  font-size: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
